.col-centered{
    float: none;
    margin: 0 auto;
}
/*body{

}
h1{
}
#lanzar{
float: left;
margin-right: 150px;
text-align: right;
}
#dados{

}
#total{
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

#tablaPuntaje{
position:relative
left:150px;
}
*/
